/* FaqManagement.css */

/* General Styles */
.FaqContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.searchBar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.addFaqButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.addFaqButton:hover {
  background-color: #0056b3;
}

.faqForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
}

.faqInputGroup {
  display: flex;
  flex-direction: column;
}

.faqInputGroup label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.faqInputGroup input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.translateButton {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
}

.submitFaqButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.translateButton:hover,
.submitFaqButton:hover {
  background-color: #218838;
}

@media (max-width: 768px) {

  /* For mobile screens */
  .FaqContainer {
    padding: 10px;
  }

  .searchInput {
    font-size: 0.9rem;
  }

  .addFaqButton {
    padding: 8px 15px;
  }

  .faqForm {
    gap: 10px;
  }

  .faqInputGroup input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .translateButton,
  .submitFaqButton {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .faqInputGroup label {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {

  /* For very small screens */
  .faqInputGroup input {
    font-size: 0.85rem;
    padding: 7px;
  }

  .searchInput {
    font-size: 0.85rem;
  }

  .translateButton,
  .submitFaqButton {
    font-size: 0.85rem;
    padding: 7px 12px;
  }

  .faqInputGroup label {
    font-size: 0.85rem;
  }

  .addFaqButton {
    padding: 6px 12px;
  }
}